## Data types and structure questions

# Question 1. what are data structure , and why are they important?

Ans: In python, data structure are built in tools that help you store, organise, and manipulate data efficiently. they are crucial for writing clean, fast, and effective code.
1. list- ordered, changable, allows duplicate
2. Tuple - ordered, unchangeable, allows duplicate
3. set - unordered, no duplicate
4. dictionary - key-value pairs, onordered, fast lookups


importance: efficient data handling
            real world modeling
            memory management
            supports algorithms

# Question 2. Explain the difference between mutable and immutable data types with examples?

Ans:
            mutable- can be changed after they created
examples - list,dictinary, set
we can update, delete, or add elements without creating a new object

            immutable -cannot be changed after they created
            ex- tuple, string, integer, float etc
            if you want to change them you actually create a new object

# Question 3. what are the main difference between lists and tuples in python?

Ans:list and tuples are both used to store collections of items in python, but they have some key difference:

            list                                                                           tuples
            mutable                                                                        immutable
            square bracket[]                                                               round bracket()
performance is lower more flexible                                                         faster, its fixed
many built-in methods, append(),remove() etc                                               fewer built in methods
use ehen data may change                                                                   use when data should not change

# Question 4. describe how dictionaries store data?

Ans: A dictionary in python is a collection of key-value pairs . it stores data so you can easily look it up by using key.
example: my_dict={"name":"swapna","age":32}

here 'name' and 'age' is key and 'swapna' and 32 are value
keys must be unique and immutable like str, tuples
values can be any datatypes - string,list, another dictionary

# Question 5. why might you use a set instead of a list in python?

Ans: Use of a set insted of a list in python when we want to store unique items only and don't care about order.

set                                                                list
duplicates- not allowed                                            allowed
order- unordered                                                   ordered
speed - faster membership test                                     slower scan item by item
use - great for unique values, quick lookups                       great for ordered data and duplicates

when we need to remove duplicates,quick check of items and order does not matter we use set

# Question 6. what is a string in python and how is it different from a list?

Ans: A string is a sequence of characters enclosed in quotes like single('), double(") , or triple('''or """). each character in a string is indexed like a list

s1="hello"
print (s1[0])
#output:h

difference:

string                                                              list
only character(text)                                                any data type (numbers, strings etc)
immutable-can not be changed                                        mutable can be changed
quotes "hello"                                                      square bracket [1,2,3]
text data                                                           collection of items

we use string when working with text

we use list when you need a flexible, editable collection of any data types

# Question 7. how do tuples ensure data integrity in python?

Ans: Data integrity means making sure data stays unchanged accurate, and safe from unwanted modifications

1. tuples are immutable - ci can not changed no adding, removing or modifying elements, this protects the data from accidental changes in your code
2. safe to use as keys in dictionaries or elements in sets- becuse tuples are immutable python allows them to used as keys in dictionaries - something
lists cin't do
3. useful for multi-threaed environments - prevent data corruption
4. help prevent bugs-data would not change which leads to more predictable and reliable code

# Question 8. what  is hash table, and how does it relate to dictionaries in python?

Ans: A hash table is a data structure that stores data in key-vale pairs , using a technique called hashing .
it uses a hash function to convert the key(like "name") into a unique index (a number).
that index decide where to store the value in memory-making lookup very fast.


d1={'name':'swapna','age':32,'aim':'python'}
d1['name']
'swapna'
here python runs a hash function on 'name' to get a number
that number points to a memory location to get a number where 'swapna'is stored
so if you search for 'name' pythonhashes it again and jumps straight to that memory spot-no need to search line by line like in a list
using hash table to fast access ,unique keys and flexible values

# Question 9. can list contain different data types in python?

Ans: A list in ython contain different data types, thats one of the powerful features of python lists


mylist1=[32,'swapna',3.14,True,[1,2],{'age':32}]

here 32 - integer
'swapna' - string
3.14 - float
True-boolean
[1,2] - another list
{'age':32} - dictionary

python list are flexible becuse they are heterogenous can store mixed types , unlike in some other programming languages like java or c

# Question 10. explain why strings are immutable in python?

Ans: strings immutable in python meaning once created it connot be changed.

1. python stores strings in a way that reuses memory. if strings were mutable, each change would require checking and updating every reference to that
string , which would be slow and error prone

2. hashing and dictionary keys- strings are often used as keys in dictionaries, which require them to be hashable. only immutable objects can have a consistent hash value, which is necessary for last lookups

3. safe sharing - when strings are immutable, multiple parts of a programm canuse the same string without worrying that it will change unexpectedly somewhere else in the code

4. example-

   
s="hello"
s[0]="H"
--------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[28], line 1
----> 1 s[0]="H"

TypeError: 'str' object does not support item assignment

if you want to modified string
s="H"+s[1:]
s
'Hello'

# Question 11. what advantages do dictionries offer over lists for certain tasks?

Ans: dictionaries and lists are both useful in python, but they serve different purposes.key advantages dictionaries offer over lists for certain tasks

1. faster lookup- in dictionaries acessing a value by key is very faster time
2. list - serching for an item or index can take longer time
3. example- grain are rice and pulse and 10,13 are no of bags
 in dict-  
d1={'rice':10,'pulse':13}
print (d1['rice'])
10

in list-
l1=[('rice',10),('pulse',13)]
(l1[0][0])
'rice'
(l1[0][1])
10

# Question 12. describe a scenario where using a tuple would be preferable over list?

Ans: A tuple is preferable over a list when you want to store a collection of items should not change

for example in automobile industry in a particular company chasis no of vehicles are separate from each other

chasis=(wx5443f,fd4333x)

it use becuse one chasis no are given to two different customer
tuples are more memory efficient than list
tuples can be used as dictionary keys ,unlike lists

# Question 13. how do sets handle duplicates values in python?

Ans: in python, sets automatically remove duplicate values 
for example

set1={1,2,3,3,4,4,4,5,5,6,6,7}
print (set1)
{1, 2, 3, 4, 5, 6, 7}

a set can stores unique values, if duplicates are added ,python keeps just one copy

this makes sets very useful for removing duplicates

# Question 14. how does the 'in' keyword work differently for lists and dictionaries?

Ans:'in' keyword is used to check membership, but it behaves slightly differently depending on the data type

for list: the 'in' keyword checks if a value is present in the list
l1=[10,20,30,40,60]
print (20 in l1)
True
print (50 in l1)
False


for dictionaries:

d1={'a':10,'b':20}
print ('a' in d1) here 'a' is a key
True
print (10 in d1) here 10 is a value
False
10 in d1.values() if you want to check value in a dictionary
True

# Question 15. can you modify the elements of a tuple? explain why or why not?

Ans:No, we cannot modify the elements of a tuple in python.this is becuse tuples are immutable, meaning once created their elements cannot
be changed ,added or removed

for example 
t1=(2,3,5,7)
t1[1]=10
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[77], line 1
----> 1 t1[1]=10

TypeError: 'tuple' object does not support item assignment

why? tuples are designed to be unchangeable , which makes them faster than list, hashable, sothey can be used as dictionaries
it is safe ,especially for fixed collections like cordinates or dates
however, if a tuple contains  mutable object like list inside a tuple that object can be modified

# Question 16.what is a nested dictionary,and give an examples of its use case?

Ans: A nested dictionary is a dictionary where one or more values are themselves dictionaries. it's a great way to represent structured data like objects within objects
for example d1 is a student profile

d1={'name':'swapna','age':32,'marks':{'math':88,'english':93}}
here value of marks is another dictionary
nested dictionary are useful when dealing with complex data like students records,  employee databases, json data from APIs, configuration files

if we acess the nested value
d1['marks']['math']
88

# Question 17.describe the time complexity of acessing elements in a dictionary?

Ans: acessing elements in a python dictionary is generally time complexity- meaning its very fast and constant tiome ,regard less of the size of the dictionary

dictionary use a hash table under the hood . when you acess a value using a key,python: 
1.compute the hash of the key
2. uses it to find the index where the value is stored 
3. rtrives the value directly - no need to search through all keys

d1={'name': 'swapna', 'age': 32, 'marks': {'math': 88, 'english': 93}}
(d1['name'])
'swapna'

# Question 18.in what situations are lists prefered over dictionaries?

Ans: 
lists are prefered over dictionaries 
1. when you need ordered data- lists maintain the order of elements, use lists when position/index matters like 3rd item in a sequence
fruits=['apple','banana','mango']
2. when you are working with simple collections -you just need to store a bunch of values without labels or keys for example names of students ,lists of numbers
3. you dont need key- value pairs -dictionaries are best when you need to map a key to a value
4. if you dont need that a list is simpler and more efficient
5. if you need to iterate in order

# Question 19.why are dictionaries considered unordered, and how does that affect data retrieval?
Ans: originally dictionaries were considered unordered becuse they didnot preserve the order in which items were added .before python 3.7
,the insertion order of key-value pairs was not guranteed.
but now starting from python 3.7+ dictionaries do preserve insertion order by default

dictionaries are built on hash tables , and hashes dont inherently care about order
even thouth pyhton now rembers the order, dictionary operations are still based on key hashing, not position/ index like lists

# Question 20. explain the difference between a list and a dictionary in terms of data retrival?
Ans: here a clear comparison between lists and dictionaries when it comes to data retrival

list : retrival by index position

l1=[1,2,3,4,5]
print (l1[1])
2

dictionary : retrival by key
d1={'name': 'swapna', 'age': 32, 'marks': {'math': 88, 'english': 93}}
(d1['name'])
'swapna'

In [ ]:
########################################################

PRACTICAL QUESTIONS

# Questions 1. write a code to create a string with your name and print it?

In [1]:
myname='swapna'

In [2]:
print(myname)

swapna

 # Question 2. write a code to find the length of the string "hello World"?

In [92]:
s1="Hello World"

In [93]:
len (s1)

11

# Question 3. write a code to slice the first 3 characters from the string "python programming"?

In [94]:
s1="python programming"

In [100]:
slice_s1=s1[:3]

In [103]:
print (slice_s1)

pyt

# Question 4. write a code to convert the string "hello" to uppercase?

In [104]:
s1="hello"

In [105]:
s1=s1.upper()

In [107]:
print(s1)

HELLO

# Question 5. write a code to replace the word 'apple' with 'orange' in the string 'i like apple'?

In [108]:
s1="i like apple"

In [110]:
s1.replace('apple','orange')

'i like orange'

# Question 6. write a code to creat a list with numbers 1 to 5 and print it?

In [111]:
l1=[1,2,3,4,5]

In [112]:
print (l1)

[1, 2, 3, 4, 5]

# Question 7. write a code to append the number 10 to the list [1,2,3,4]?

In [113]:
l1=[1,2,3,4]

In [114]:
l1.append(10)

In [115]:
print(l1)

[1, 2, 3, 4, 10]

# Question 8. write a code to remove number 3 from the list [1,2,3,4,5]?

In [116]:
l1=[1,2,3,4,5]

In [117]:
l1.remove(3)

In [118]:
print (l1)

[1, 2, 4, 5]

# Question 9.write a code to acess the second element in the list ['a','b','c','d']?

In [119]:
l1=['a','b','c','d']

In [121]:
print (l1[1])

b

# Question 10. write a code to reverse the list [10,20,30,40,50]?

In [123]:
l1=[10,20,30,40,50]

In [127]:
l1.reverse()

In [128]:
print(l1)

[10, 20, 30, 40, 50]

# Question 11. write a code to create a tuple with the elements 100,200, 300 and print it?

In [129]:
t1=(100,200,300)

In [130]:
print(t1)

(100, 200, 300)

In [131]:
type(t1)

tuple

# Question 12.write a code to access the second-to-the last element of the tuple ('red','green','blue','yellow')?

In [132]:
t1=('red','green','blue','yellow')

In [135]:
print (t1[2])

blue

# Question 13. write a code to find the minimum number in the tuple (10,20,5,15).

In [136]:
t1=(10,20,5,15)

In [141]:
min (t1)

5

# Question 14. write a code to find index of the element 'cat' in the tuple ('dog','cat','rabbit')?

In [142]:
t1=('dog','cat','rabbit')

In [143]:
t1.index('cat')

1

# Question 15. write a code to create a tuple containing three different fruits and check if 'kiwi' is in it?

In [144]:
t1=('apple','banana','kiwi')

In [145]:
if 'kiwi' in t1:
    print(True)
else:
    print(False)

True

# Question 16. write a code to create a set with the elements 'a',;b','c' and print it?

In [148]:
set1={'a','b','c'}

In [149]:
print (set1)

{'c', 'b', 'a'}

# Question 17. write a code to clear all the elements from the sets {1,2,3,4,5}?

In [160]:
set1={1,2,3,4,5}

In [161]:
set1.clear()

In [162]:
print (set1)

set()

# Question 18.write a code to remove the element 4 from the set {1,2,3,4}?

In [163]:
set1={1,2,3,4}

In [164]:
set1.discard(4)

In [165]:
print (set1)

{1, 2, 3}

# Question 19. write a code to find the union of two sets {1,2,3} and {3,4,5}?

In [166]:
set1={1,2,3}
set2={3,4,5}

In [167]:
set1|set2

{1, 2, 3, 4, 5}

In [168]:
set1.union(set2)

{1, 2, 3, 4, 5}

# Question 20. write a code to find the intersection of two sets {1,2,3} and {2,3,4}?

In [169]:
set1={1,2,3}
set2={2,3,4}

In [170]:
set1&set2

{2, 3}

In [171]:
set1.intersection(set2)

{2, 3}

# Question 21. write a code to create a dictionary with the keys "name","age" and "city" and print it?

In [3]:
d1={"name":"swapna","age":32,"city":"bhubaneswar"}

In [4]:
print (d1)

{'name': 'swapna', 'age': 32, 'city': 'bhubaneswar'}

# Question 22. write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'john','age':25}?

In [174]:
d2={'name':'john','age':25}

In [175]:
d2['country']='USA'

In [176]:
print (d2)

{'name': 'john', 'age': 25, 'country': 'USA'}

# Question 23. write down a code to access the value associated withthe key 'name'in the dictionary {'name':'Alice','age":30}?

In [187]:
d3={'name':'Alice','age':30}

In [189]:
print(d3['name'])

Alice

# Question 24. write a code to remove the key 'age' from the dictionary{'name':'Bob','age':22,'city':New York'}?

In [191]:
d1={'name':'Bob','age':22,'city':'New York'}

In [194]:
del d1['age']

In [195]:
print(d1)

{'name': 'Bob', 'city': 'New York'}

# Question 25. write a code to check if the key 'city' exists in the dictionary {'name':'Alice','city':'paris'}?

In [196]:
d1={'name':'Alice','city':'paris'}

In [197]:
'city' in d1

True

# Question 26. write a code to create a list, a tuple, and a dictionary, and print them all?

In [198]:
l1=[1,2,3,4,5]

In [199]:
type(l1)

list

In [200]:
t1=(1,2,3,4,5)

In [201]:
type(t1)

tuple

In [202]:
d1={'name':'Alex','city':'delhi'}

In [203]:
type(d1)

dict

In [205]:
print(l1)

[1, 2, 3, 4, 5]

In [206]:
print(t1)

(1, 2, 3, 4, 5)

In [207]:
print(d1)

{'name': 'Alex', 'city': 'delhi'}

# Question 27. write a code to create a list of 5 random numbers between 1 and 100 ,sort it in ascending order , and print the result .(replaced)

In [213]:
l1 =[5,13,45,89,19]

In [214]:
l1.sort()

In [215]:
print (l1)

[5, 13, 19, 45, 89]

# Question 28. write a code to creat a list with strings and print the element at the third index?

In [217]:
l2=['apple','banana','kiwi','cherry','mango']

In [218]:
print (l2[3])

cherry

# Question 29.write a code to combine two dictionaries into one and print the result?

In [222]:
d5={'nam':'Alex','cit':'delhi'}
d6={'name':'Bob','age':22,'city':'New York'}

In [223]:
d5.update(d6)

In [224]:
print (d5)

{'nam': 'Alex', 'cit': 'delhi', 'name': 'Bob', 'age': 22, 'city': 'New York'}

# Question 30. write a code to convert a list of strings into a set?

In [225]:
l2=['apple','banana','kiwi','cherry','mango']

In [230]:
s2=set(l2)

In [231]:
print (s2)

{'apple', 'kiwi', 'mango', 'cherry', 'banana'}

In [232]:
type(s2)

set